{% extends 'web_app/base.html' %}

{% block content %}
<h1>Welcome to the Home Page</h1>

<div class = "row">
    <ul class="uk-list ">
        {% for key,i in jerseys.items %}
            <h4><a href = "/item/{{key}}">{{i.player}}</a></h4>
            <p>{{ i.team }} - {{ i.number }} - {{ i.shirt_size }} </p>
            <img class="img-responsive" src="https://imgur.com/0PCUsve.png"  width="300" height="300"> 
        {% endfor %}
    </ul>
</div>

<form action="/jersey/small">
    <input type="submit" value="Size Small" />
</form>
{% endblock %}