{% extends 'web_app/base.html' %}

{% block content %}
<div class = "container">
    <div class = "row">
        <div class = "col col-md-6 item_image">
            <img class="img-responsive" src="https://imgur.com/0PCUsve.png"  width="460" height="345"> 
        </div>
        <div class = "col col-md-6 item_details">
            <ul>
                <li>{{ jersey.player }}</li>
                <li>{{ jersey.number }}</li>
                <li>{{ jersey.team }}</li>
            </ul>
        </div>
    </div>
    <div class = "row">
        <div class = "col col-md-6">
            {% if recs %}
                <h3>People who looked at this also looked at these. Wouldn't you know. Feel free to click on them.</h3>
                {% for rec in recs %}
                    <h5><a href = "/item/{{rec.id}}">{{rec.player}}</a></h5>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}