{% extends 'web_app/base.html' %}

{% block content %}


<form action="register" method = "post">
    {% csrf_token %}
    {{ form }}
    <input type = "submit" value = "Submit">
</form>
<!-- error display stolen from: https://stackoverflow.com/questions/14647723/django-forms-if-not-valid-show-form-with-error-message -->
{% if form.errors %}
    {% for field in form %} 
        <div class = "alert alert-danger">
            <strong>
                {{ error|escape }}
            </strong>
        </div>
    {% endfor %}
{% endif %}

{% if error %}
<p>{{error}}</p>
{% endif %}
{% if get %}
<h1>get :(</h1>
{% endif %}

{% endblock %}
