{% extends 'web_app/base.html' %}

{% block content %}

{% if ok %}
<div>
    <h4>Showing {{ items | length }} results for "{{query}}"</h4>
    <hr>
    <ul class="uk-list uk-list-large uk-list-divider">
        {% for i in items %}
			<li>
                <h4><a href = "/item/{{key}}">{{i.player}}</a></h4>
                <img class="img-responsive" src="https://imgur.com/0PCUsve.png"  width="300" height="300"> 
			</li>
		{% empty %}
    		<li>No results found.</li>
		{% endfor %}
    </ul>
</div>

{% else %}
	<h3>Whoops!</h3>
{% endif %}

{% endblock %}